@charset "UTF-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;

}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

main{
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside{
    background-color: lightslategray;

}

footer{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

footer > p{margin: 0px;}

.dropbtn{
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}




