@charset "UTF-8";


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: white;
    background-color: lightcoral;
    height: 300px;
    width: 300px;

    border: 5px solid chocolate;

    padding: 5px;

    margin: 10px;
}

a{
    border: 2px solid red;
}

a:hover{
    color: blue;
}